.alert {
  padding: 5px;
  margin: 5px;
  border: 1px solid;
  border-radius: 10px;
}

.alert-success {
  background-color: #a0d6a0;
  color: #5cb85c;
  border-color: #48a548;
}

.alert-info {
  background-color: #9cd9eb;
  color: #5bc0de;
  border-color: #2badd4;
}

.alert-warning {
  background-color: #f5c684;
  color: #f0ad4e;
  border-color: #dd8913;
}

.alert-danger {
  background-color: #e79290;
  color: #d9534f;
  border-color: #c32f2a;
}

/*# sourceMappingURL=style.css.map */
