$success-colors: #5cb85c, #a0d6a0, #48a548;
$info-colors: #5bc0de, #9cd9eb, #2badd4;
$warning-colors: #f0ad4e, #f5c684, #dd8913;
$danger-colors: #d9534f, #e79290, #c32f2a;
$colors: (success: $success-colors, info: $info-colors, warning: $warning-colors, danger: $danger-colors);
.alert {
  padding: 5px;
  margin: 5px;
  border: 1px solid;
  border-radius: 10px;
}
@each $key, $value in $colors { .alert { &-#{$key} {
      background-color: nth($value, 2);
      color: nth($value, 1);
      border-color: nth($value, 3);}}}