.primary {
  background-color: #337ab7;
}

.info {
  background-color: #5cb85c;
}

.success {
  background-color: #5bc0de;
}

.warning {
  background-color: #f0ad4e;
}

.danger {
  background-color: #d9534f;
}

/*# sourceMappingURL=style.css.map */
