@mixin rect($width, $height, $color) {
  width: $width;
  height: $height;
  background-color: $color;
  margin: 2px 0 0 2px;
  border: 1px solid black;
}
$widths: 100px, 200px, 300px, 400px, 500px;
$heights: 50px, 100px, 150px, 200px, 250px;
$colors: red, orange, blue, green, yellow;
@for $i from 1 through 5 {
  .rect-#{$i} {
    @include rect(nth($widths, $i), nth($heights, $i), nth($colors, $i));
  }
}