.rect-1 {
  width: 100px;
  height: 50px;
  background-color: red;
  margin: 2px 0 0 2px;
  border: 1px solid black;
}

.rect-2 {
  width: 200px;
  height: 100px;
  background-color: orange;
  margin: 2px 0 0 2px;
  border: 1px solid black;
}

.rect-3 {
  width: 300px;
  height: 150px;
  background-color: blue;
  margin: 2px 0 0 2px;
  border: 1px solid black;
}

.rect-4 {
  width: 400px;
  height: 200px;
  background-color: green;
  margin: 2px 0 0 2px;
  border: 1px solid black;
}

.rect-5 {
  width: 500px;
  height: 250px;
  background-color: yellow;
  margin: 2px 0 0 2px;
  border: 1px solid black;
}

/*# sourceMappingURL=style.css.map */
