.table {
  border-collapse: collapse;
  tr {
    th {
      font-weight: bold;
      background-color: #78cfef;
      border: 1px solid blue;
      padding: 10px;
    }
    td {
      background-color: #78cfef;
      border: 1px solid blue;
      padding: 10px;
      a {
        color: red;
      }
    }
  }
}