.table {
  border-collapse: collapse;
}
.table tr th {
  font-weight: bold;
  background-color: #78cfef;
  border: 1px solid blue;
  padding: 10px;
}
.table tr td {
  background-color: #78cfef;
  border: 1px solid blue;
  padding: 10px;
}
.table tr td a {
  color: red;
}

/*# sourceMappingURL=style.css.map */
