$widths: 576px, 768px, 992px, 1200px, 1400px;
$container-width: 540px, 720px, 960px, 1140px, 1320px;
$class-suffixes: -sm, -md, -lg, -xl, -xxl;

.container { width: 100%;}
@for $i from 1 through 12 { col-#{$i} { width: 100% / 12 * $i;}}

@for $i from 1 through 5 {
  @media screen and (min-width: nth($widths, $i)){
    .container {width: nth($container-width, $i);}
    @for $k from 1 through 12 {
      .col#{nth($class-suffixes, $i)}-#{$k} {width: 100% / 12 * $k;}
    }
  }
}